{% extends 'base.html' %}

{% block title%}| FAQ{% endblock %}

{% block content %}
    <h1>Frequently Asked Questions</h1>

    <br>

    <h5>Are teams and players automatically added to the leaderboards?</h5>
    <p>Teams and players in PL1 or PL2 are automatically added at the beginning of each season.</p>

    <h5>How can I add my team to the leaderboards?</h5>
    <p>You can add your team by searching or directly visiting your team page.</p>

    <h5>When are stats updated?</h5>
    <p>Stats are automatically updated for each team daily at 11 PM EST.</p>

    <h5>Can I update my teams stats?</h5>
    <p>Yes, individual team stats are updated each time their page is visited.</p>

    <h5>Are stats persistent?</h5>
    <p>Not yet. Currently, SmallStats only displays data from the current SmallBall season.</p>

    <h5>Where can I ask a question or give feedback?</h5>
    <p>There is an active thread on the SmallBall <a href="http://www.smallball.org/showthread.php/20970-SmallStats">forums</a> where you can get help or leave feedback.</p>
{% endblock %}