{% extends 'layout.html' %}

{% block body %}

    <center>
        <form action="/search" method="POST">
            <div class="row">
                <input class="u-center" name="teamid" placeholder="Team ID">
            </div>
            <input class="button-primary" type="submit" value="Submit">
        </form>

        <div class="row">
            <h4>Recent Searches</h3>
            {% for search in recent %}
                <div class="row"><a class="recent" href="{{ "/stats/{0}".format(search.teamid) }}">{{ search.teamid }}</a></div>
            {% endfor %}
        </div>
    </center>

{% endblock %}