<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111614536-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-111614536-1');
        </script>

        <meta charset="utf-8">
        <title>SmallBall Player Stats</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- DataTables Integration -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        
        <script type="text/javascript" class="init">
            $(document).ready(function() {
                $('table.display').DataTable( {
                    "paging": false,
                    "info": false,
                    "searching": false,
                    "scrollX": true,
                    "aaSorting": []
                } );
                $('table.hitting-leaders').DataTable( {
                    "order": [[ 11, "desc"]],
                    "paging": true,
                    "info": true,
                    "searching": true,
                    "scrollX": true,
                    "aaSorting": []
                } );
                $('table.pitching-leaders').DataTable( {
                    "order": [[ 5, "asc"]],
                    "paging": true,
                    "info": true,
                    "searching": true,
                    "scrollX": true,
                    "aaSorting": []
                } );
            } );
        </script>

        <!-- Ranking index that persists with search -->
        <script>
            $(document).ready(function() {
                $('#hitting-leaders, #pitching-leaders').each(function(){ 
                    var t = $(this).DataTable();
                    t.on( 'order.dt search.dt', function () {
                        t.column(0, { order:'applied'}).nodes().each( function (cell, i) {
                        cell.innerHTML = i+1;
                    } );
                    } ).draw(); 
                } )
            }); 
        </script>

        <!-- jQuery Tabs -->
        <script>
            $(document).ready(function(){
                $('ul.tabs li').click(function(){
                    var tab_id = $(this).attr('data-tab');
                    var table = $('table.pitching-leaders').DataTable();

                    $('ul.tabs li').removeClass('current');
                    $('.tab-content').removeClass('current');
                    $(this).addClass('current');
                    $("#"+tab_id).addClass('current');
                    table.columns.adjust().draw();
                });
            });
        </script>

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:400,300,600">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400">
        <script src="https://use.fontawesome.com/b50c010594.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="navbar">
                <div class="container">
                    <h3 class="navbar-title"><a href="/">SB Player Stats</a></h3>
                    <ul>
                        <li class="li-right"><a href="/leaders">Leaders</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <div class="footer">
            <a href="https://github.com/clintcolding/SBPlayerStats" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Find this project on GitHub</a>
        </div>
    </body>
</html>