{% extends 'base.html' %}

{% block title%}| {{ team.teamid }}{% endblock %}

{% block head %}
    {{ super() }}
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
                <h2>{{ team.name }}</h2>
                <form action="/refreshstats" method="POST">
                    <label for="refresh-btn" style="font-style:italic;">{{ updated }}</label>
                    <input type="hidden" value="{{ team.teamid }}" name="tid">
                    <a class="tooltips" data-toggle="tooltip" data-placement="top" title="Refresh">
                        <button type="submit" class="refresh-btn" name="refresh-btn">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
                    </a>
                </form>
                <div class="dropdown season-dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Season {{ team.season }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/stats/{{ team.teamid }}/all">All</a>
                        {% for entry in seasons %}
                            {% if entry.season == team.season|int %}
                                <a class="dropdown-item active" href="/stats/{{ team.teamid }}/{{ entry.season }}">Season {{ entry.season }}</a>
                            {% else %}
                                <a class="dropdown-item" href="/stats/{{ team.teamid }}/{{ entry.season }}">Season {{ entry.season }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
        </div>
        <div class="col-md-5">
            <img class="stadium-img" src="{{ url_for('static', filename='images/') }}{{ team.stadium }}.jpg">
            <div class="team-info"><strong>{{ team.teamid }}</strong></div>
            <div class="team-info">
                {% if team.pl != "ls" %}
                    {{ team.pl_position }} in <a href="http://smallball.com/ball/leagues/pro{{ team.pl }}.shtml" target="_blank">PL {{ team.pl }}</a>
                {% endif %}
            </div>
            <div class="team-info">
                {% for i in range(10 - team.stars) %}
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                {% endfor %}
                {% for i in range(team.stars) %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                {% endfor %}
            </div>
            <div class="team-info">
                {{ team.trained }}
            </div>
        </div>
    </div>

    <div class="row">
        
    </div>
    
    <ul class="tabs">
        <li class="tabs-link current" data-tab="hitting-tab">Hitting</li>
        <li class="tabs-link" data-tab="pitching-tab">Pitching</li>
        <li class="tabs-link" data-tab="team-tab">Team</li>
    </ul>

    <div id="hitting-tab" class="tab-content current">
        <table id="hitting" class="hitting" width="100%">
            <thead>    
                <tr>
                    <th>Player</th>
                    <th>Pos</th>
                    <th>G</th>
                    <th>AB</th>
                    <th>H</th>
                    <th>1B</th>
                    <th>2B</th>
                    <th>3B</th>
                    <th>HR</th>
                    <th>RBI</th>
                    <th>AVG</th>
                    <th>SLG</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Total</th>
                    <th></th>
                    <th>{{ team.games }}</th>
                    <th>{{ team.ab }}</th>
                    <th>{{ team.hits }}</th>
                    <th>{{ team.singles }}</th>
                    <th>{{ team.doubles }}</th>
                    <th>{{ team.triples }}</th>
                    <th>{{ team.hr }}</th>
                    <th>{{ team.rbi }}</th>
                    <th>{{ team.avg }}</th>
                    <th>{{ team.slg }}</th>
                </tr>
            </tfoot>
            <tbody>
            {% for entry in players %}
                <tr>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.position }}</td>
                    <td>{{ entry.games }}</td>
                    <td>{{ entry.ab }}</td>
                    <td>{{ entry.hits }}</td>
                    <td>{{ entry.singles }}</td>
                    <td>{{ entry.doubles }}</td>
                    <td>{{ entry.triples }}</td>
                    <td>{{ entry.hr }}</td>
                    <td>{{ entry.rbi }}</td>
                    <td>{{ entry.avg }}</td>
                    <td>{{ entry.slg }}</td>
                </tr>
            {% endfor %} 
            </tbody>
        </table>
    </div>

    <div id="pitching-tab" class="tab-content">
        <div class="col-md-6">
            <table id="pitching" class="pitching" width="100%">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>G</th>
                        <th>SO</th>
                        <th>SO/G</th>
                        <th>ERA</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Total</th>
                        <th>{{ team.games }}</th>
                        <th>{{ team.so }}</th>
                        <th>{{ (team.so|int / team.games|int) | round(1, 'floor') }}</th>
                        <th>{{ team.era }}</th>
                    </tr>
                </tfoot>
                <tbody>
                {% for entry in pitchers %}
                <tr>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.games }}</td>
                    <td>{{ entry.so }}</td>
                    <td>{{ (entry.so|int / entry.games|int) | round(1, 'floor') }}</td>
                    <td>{{ entry.era }}</td>
                </tr>    
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="team-tab" class="tab-content">
        <div class="col-md-6">
            <table id="team" class="team" width="100%">
                <thead>
                    <th>W</th>
                    <th>L</th>
                    <th>PCT</th>
                    <th>RS</th>
                    <th>RA</th>
                </thead>
                <tr>
                    <td>{{ team.wins }}</td>
                    <td>{{ team.losses }}</td>
                    <td>{{ team.pct }}</td>
                    <td>{{ team.rs }}</td>
                    <td>{{ team.ra }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    
    <script charset="utf-8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="{{url_for('.static', filename='js/stats_datatables.js')}}"></script>
    <script src="{{url_for('.static', filename='js/stats_tabs.js')}}"></script>
{% endblock %}
