{% extends 'layout.html' %}

{% block body %}
    <h2>{{ myteamname }}</h2>

    <h5>Batting</h5>

    <table id="batting" class="display">
        <thead>    
            <tr>
                <th>Player</th>
                <th>Pos</th>
                <th>G</th>
                <th>AB</th>
                <th>H</th>
                <th>1B</th>
                <th>2B</th>
                <th>3B</th>
                <th>HR</th>
                <th>RBI</th>
                <th>Avg</th>
                <th>SLG</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in stats.players %}
            <tr>
                <td>{{ entry.name }}</td>
                <td>{{ entry.position }}</td>
                <td>{{ entry.games }}</td>
                <td>{{ entry.ab }}</td>
                <td>{{ entry.hits }}</td>
                <td>{{ entry.singles }}</td>
                <td>{{ entry.doubles }}</td>
                <td>{{ entry.triples }}</td>
                <td>{{ entry.hr }}</td>
                <td>{{ entry.rbi }}</td>
                <td>{{ entry.avg }}</td>
                <td>{{ entry.slg }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h5 class="pitching">Pitching</h5>
        <table id="pitching" class="display">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>G</th>
                    <th>SO</th>
                    <th>ERA</th>
                </tr>
            </thead>
            <tbody>
            {% for entry in pitchers %}
            <tr>
                <td>{{ entry.name }}</td>
                <td>{{ entry.games }}</td>
                <td>{{ entry.so }}</td>
                <td>{{ entry.era }}</td>
            </tr>    
            {% endfor %}
            </tbody>
        </table>
{% endblock %}